body {
    background: #6e1296;
    background: linear-gradient(24deg,
        rgba(110, 18, 150, 1)0%,
        rgba(29, 110, 153, 1) 50%,
        rgba(9, 158, 32, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.carouselDiv {
    width: 800px;
    height: 60px;
    overflow: hidden;
    mask-image: linear-gradient(to right, 
        transparent, 
        black 20%, 
        black 80%, 
        transparent
    );
}

.carousel {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: carousel 10s linear infinite;
}

@keyframes carousel {
    0% { transform: translate(0, 0) }
    100% { transform: translate(-50%, 0) }
}


.body {
    width: 800px;
    height: 400px;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    border-radius: 20px;
}

@font-face {
    font-family: Swash;
    src: url(Swash.ttf);
}

h1 {
    font-family: Swash;
    font-size: 60px;
}

h2 {
    font-size: 24px;
    color: black;
    display: inline-block;
}

input {
    font-family: Overlock;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 27px;
    height: 40px;
    width: 300px;
}

button {
    font-family: Overlock;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 27px;
    height: 40px;
    width: 75px;
    background-color: white;
    border: none;
}

p {
    font-family: Overlock;
}
